@using System.Activities.Expressions
@{
    ViewBag.Title = "GetMeProf";
}

<div class="jumbotron" align="center">
    <h1 align="center">GET ME PROF</h1>
    <p class="lead" align="center">Мы знаем, где найти лучший сервис в "ЖК Молодёжный".</p><br/>
    <p align="center">
        <div class="btn btn-success" style="font-size:x-large" align="center">
            @Html.ActionLink("Я - специалист", "SpecialistPanel")<br />
        </div><br />
    </p><br/>
    <p>
        <div class="btn btn-success" style="font-size:x-large">
            @Html.ActionLink("Я - ищу специалиста", "SearchSpecialist")<br />
        </div><br />
    </p>
    `
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для специалистов</h2>
        <p>Если вы специалист своего дела и хотите
            предложить свои услуги другим, этот раздел
            для Вас. Узнайте больше информации и вперед
        за заработком! Удачи Вам!</p>
        <p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Для тех кто ищет сервис</h2>
        <p>Если Вы ищите специалиста, который готов Вам
            помочь в решении ваших задач, узнайте немного
            больше об этом сервисе в следующем разделе ниже! Удачи Вам!</p>
        <p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Другая информация</h2>
        <p>Если Вы хотите предложить нам, что-то особенное,
           если вы креативный и полны идей, то мы готовы выслушать Ваши предложения.
            Об этом вы сможете прочитать в этом разделе. Удачи Вам!</p>
        <p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
</div>