@using System.Activities.Expressions
@{
    ViewBag.Title = "GetMeProf";
}

<div class="jumbotron" align="center">
    <h1 align="center">GET ME PROF</h1>
    <p class="lead" align="center">Мы знаем, где найти лучший сервис.</p><br/>
    <p align="center">
        <div class="btn btn-success" style="font-size:x-large" align="center">
            @Html.ActionLink("Я - специалист", "SpecialistPanel")<br />
        </div><br />
    </p>
    <p>
        <div class="btn btn-success" style="font-size:x-large">
            @Html.ActionLink("Я - ищу специалиста", "SearchSpecialist")<br />
        </div><br />
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для специалистов</h2>
        <p>БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
            БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
        БлаБлаБлаБлаБлаБла</p>
        <p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Для тех кто ищет сервис</h2>
        <p>БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
            БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
        БлаБлаБлаБлаБлаБла</p>
<p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
</div>