@{
    ViewBag.Title = "GetMeProf";
}

<div class="jumbotron">
    <h1>GET ME PROF</h1>
    <p class="lead">Мы знаем, где найти лучший сервис.</p>
    <p><a href="https://fckrasnodar.ru" class="btn btn-primary btn-lg">Я - специалист &raquo;</a></p>
    <p><a href="https://fckrasnodar.ru" class="btn btn-primary btn-lg">Я - ищу специалиста &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для специалистов</h2>
        <p>БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
            БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
        БлаБлаБлаБлаБлаБла</p>
        <p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Для тех кто ищет сервис</h2>
        <p>БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
            БлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБлаБла
        БлаБлаБлаБлаБлаБла</p>
<p><a class="btn btn-default" href="https://fckrasnodar.ru">Узнать больше &raquo;</a></p>
    </div>
</div>