
@{
    ViewBag.Title = "SpecialistPanel";
}

<br/>



<h1 align="center">
    <div class="btn btn-success" style="font-size:x-large">
        @Html.ActionLink("Вход в панель", "Login", "Account")<br />
    </div><br />
</h1>
<h1 align="center">
    <div class="btn btn-success" style="font-size:x-large">
        @Html.ActionLink("Регистрация", "Register", "Account")<br />
    </div><br />
</h1>




